html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
}


#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 0.5px black solid;
    width: 300px;
    height: 600px;
    /* justify-content: space-evenly; */
}

#controller {
    display: flex;
    flex-direction: column;
}

.button {
    outline: 0.5px solid black;
    width: 35px;
    height: 35px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.big {
    width: 80px;
}

.row {
    display: flex;
    flex-direction: row;
}

#screen {
    height: 100px;
    width: 250px;
    outline: 0.5px black solid;
    margin: 20px;
}