:root {
    --button-hover: #ddd;
    --button-active: #ccc;
    --background-main-container: rgb(214, 214, 214);
    --outline-main-container: 2px rgb(47, 47, 47) solid;
    --box-shadow-main-container: 0px 0px 20px 2px rgba(0,0,0,0.5);
    --box-shadow-button: 0px 0px 2px 1px rgba(0,0,0,0.5) inset;
    --outline-button: 0.5px solid black;
    --outline-screen: 1px rgb(47, 47, 47) solid;
    --background-screen:  rgb(238, 238, 238);
    --box-shadow-screen: 0px 0px 2px 1px rgba(0,0,0,0.5) inset;
    --button-background: rgba(232, 232, 232);
    --button-red: #faa;
    --button-red-hover: #e99;
    --button-red-active: #d88;
    --button-blue: #aaf;
    --button-blue-hover: #99e;
    --button-blue-active: #88d;
  }

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(203, 194, 213, 0.421);
    min-height: 100%;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}


#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: var(--outline-main-container);
    border-radius: 10px;
    width: 300px;
    height: 500px;
    margin-top: 100px;
    background-color: var(--background-main-container);
    box-shadow: var(--box-shadow-main-container);
}

#controller {
    display: flex;
    flex-direction: column;
}

.button {
    outline: var(--outline-button);
    width: 55px;
    height: 55px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5px;
    box-shadow: var(--box-shadow-button);
    background-color: var(--button-background);
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover);
  }

.button:active {
    background-color: var(--button-active);
}

.button.big {
    width: 120px;
}

div[data-key="keyClear"] {
    background-color: var(--button-red);
}

div[data-key="keyClear"]:hover {
    background-color: var(--button-red-hover);
}

div[data-key="keyClear"]:active {
    background-color: var(--button-red-active);
}

div[data-key="keyDelete"] {
    background-color: var(--button-blue);
}

div[data-key="keyDelete"]:hover {
    background-color: var(--button-blue-hover);
}

div[data-key="keyDelete"]:active {
    background-color: var(--button-blue-active);
}


.row {
    display: flex;
    flex-direction: row;
}

#screen {
    height: 100px;
    width: 250px;
    outline: var(--outline-screen);
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-screen);
    box-shadow: var(--box-shadow-screen);
}

#screen > div {
    height: 18.5px;
  }

#expression {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 10px;
}

#result {
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#gh-logo {
    width: 35px;
    height: 35px;
    margin-bottom: -12px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
    outline: black solid;
}

#gh-logo:hover {
    transform: rotate(360deg) scale(1.2);
  }

.footer {
    margin-top: auto;
    font-size: 14px;
    bottom: 0;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 15px;
    align-self: center;
    align-content: center;
    position: fixed;
}

.fa-github {
    color: var(--font);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
 